// Borders
@use 'sass:map';
@use 'variables' as vars;
@use 'maps' as maps;

// border
.border {
    border-style: solid;
}

// border-2
@each $name, $value in maps.$border-width-map {
    .border-#{$name} {
        border-width: $value !important;
    }
}

// border-bottom, border-start
@each $name, $value in maps.$side-map {
    .border-#{$name} {
        border-#{$value}-style: solid !important;
        border-#{$value}-width: vars.$border-width !important;
    }

    @each $color-name, $color-value in maps.$theme-colors {
        .border-#{$name}.border-#{$color-name} {
            border-#{$value}-color: #{$color-value} !important;
        }
    }
}

// border-bottom-1, border-start-2
@each $width-name, $width-value in maps.$border-width-map {
    @each $side-name, $side-value in maps.$side-map {
        .border-#{$side-name}-#{$width-name} {
            border-#{$side-name}-style: solid !important;
            border-#{$side-name}-width: $width-value !important;
        }
        @each $color-name, $color-value in maps.$theme-colors {
            .border-#{$side-name}-#{$width-name}.border-#{$color-name} {
                border-#{$side-name}-color: #{$color-value} !important;
            }
        }
    }
}


// Border radius

.rounded {
    border-radius: vars.$border-radius;
}

.rounded-circle {
    border-radius: 50%;
}

@each $name, $value in maps.$border-radius-map {
    .rounded-#{$name} {
        border-radius: $value !important;
    }
}

// Border colors

@each $name, $value in maps.$theme-colors {
    .border-#{$name} {
        border-color: $value !important;
    }
}
