@use 'variables' as vars;
@use 'maps' as maps;


.table {
    width: 100%;
    max-width: 100%;
    //margin-bottom: vars.$spacer;
    page-break-inside: auto;
    border-collapse: collapse;
    font-size: vars.$table-font-size;
    color: vars.$body-color;

    border-spacing: 0;

    tr {
        page-break-inside: avoid;
        page-break-after: auto;
    }

    th,
    td {
        padding: vars.$table-cell-padding-y vars.$table-cell-padding-x;
        vertical-align: top;
        text-align: left;
    }

    tfoot {
        display: table-footer-group;
    }

    thead {
        display: table-header-group;
        th {
            vertical-align: bottom;
            font-weight: vars.$font-weight-bold;
            border-bottom: calc(#{vars.$table-border-width} * 2) vars.$table-border-style vars.$table-border-color;
        }
    }

    caption {
        padding-top: vars.$table-caption-spacing;
        padding-bottom: vars.$table-caption-spacing;
        color: vars.$table-caption-color;
        text-align: left;
        caption-side: bottom;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.table-bordered {
    border: vars.$table-border-width vars.$table-border-style vars.$table-border-color;

    th,
    td {
        border: vars.$table-border-width vars.$table-border-style vars.$table-border-color;
    }

    thead th,
    thead td {
        border-bottom-width: calc(#{vars.$table-border-width} * 2);
    }
}

.table-underline {
    th,
    td {
        border-bottom: vars.$table-border-width vars.$table-border-style vars.$table-border-color;
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }

    thead th {
        border-bottom-width: calc(#{vars.$table-border-width} * 2);
    }

    & tr:last-child th,
    & tr:last-child td
    {
        border-bottom: 0;
    }
}

.table-striped {
    tbody tr:nth-of-type(odd) {
        background-color: vars.$table-striped-bg;
    }
}

.table-dotted {
    th,
    td {
        border-style: dotted;
    }

    &.table-bordered {
        border-style: dotted;
    }
}

.table-dashed {
    th,
    td {
        border-style: dashed;
    }

    &.table-bordered {
        border-style: dashed;
    }
}

.table-condensed {
    font-size: 95% !important;

    th,
    td {
        padding: calc(#{vars.$table-cell-padding-y} / 1.5) calc(#{vars.$table-cell-padding-x} / 1.5);
    }
}

.table-compact {
    font-size: 90% !important;

    th,
    td {
        padding: calc(#{vars.$table-cell-padding-y} / 2) calc(#{vars.$table-cell-padding-x} / 2);
    }
}

.table-align-middle {
    th,
    td {
        vertical-align: middle;
    }
}

.table-auto {
    width: auto;
}

