@use "sass:math";

// Function to get CSS variable with fallback to the default SCSS value
@function css-var($property-name, $fallback) {
    @return var(--#{$property-name}, $fallback);
}

// Note that all variables taken from css vars are
// not used in calculations due to weasyprints
// lack of calc() support

// Colors
$white: css-var("white", #fff) !default;
$gray-100: css-var("gray-100", #f8f9fa) !default;
$gray-200: css-var("gray-200", #e9ecef) !default;
$gray-300: css-var("gray-300", #dee2e6) !default;
$gray-400: css-var("gray-400", #ced4da) !default;
$gray-500: css-var("gray-500", #adb5bd) !default;
$gray-600: css-var("gray-600", #6c757d) !default;
$gray-700: css-var("gray-700", #495057) !default;
$gray-800: css-var("gray-800", #343a40) !default;
$gray-900: css-var("gray-900", #212529) !default;
$black: css-var("black", #000) !default;

$blue: css-var("blue", #0d6efd) !default;
$indigo: css-var("indigo", #6610f2) !default;
$purple: css-var("purple", #6f42c1) !default;
$pink: css-var("pink", #d63384) !default;
$red: css-var("red", #dc3545) !default;
$orange: css-var("orange", #fd7e14) !default;
$yellow: css-var("yellow", #ffc107) !default;
$green: css-var("green", #198754) !default;
$teal: css-var("teal", #20c997) !default;
$cyan: css-var("cyan", #0dcaf0) !default;

$primary: css-var("primary", $blue) !default;
$secondary: css-var("secondary", $gray-600) !default;
$success: css-var("success", $green) !default;
$info: css-var("info", $cyan) !default;
$warning: css-var("warning", $yellow) !default;
$danger: css-var("danger", $red) !default;
$light: css-var("light", $gray-100) !default;
$dark: css-var("dark", $gray-900) !default;

// Body
$body-bg: css-var("body-bg", $white) !default;
$body-color: css-var("body-color", $black) !default;

// Page
$page-size: css-var("page-size", 210mm 297mm) !default; // A4 by default
$page-margin: css-var("page-margin", 3mm 3mm 3mm 2mm) !default;

// Spacing
$spacer: 1rem !default;

// Links
$link-color: css-var("link-color", $primary) !default;
$link-decoration: css-var("link-decoration", none) !default;
$link-hover-color: css-var("link-hover-color", $indigo) !default;
$link-hover-decoration: css-var("link-hover-decoration", underline) !default;

// Blockquote
$blockquote-bg: css-var("blockquote-bg", $gray-300) !default;

// Grid
$grid-columns: 12 !default;
$grid-gutter-width: 1rem !default;

// Typography
$font-family-sans-serif: css-var("font-family-sans-serif", "sans-serif") !default;
$font-family-serif: css-var("font-family-serif", "serif") !default;
$font-family-monospace: css-var("font-family-monospace", "monospace") !default;
$font-family-base: css-var("font-family-base", $font-family-serif) !default;
$font-family-headings: css-var("font-family-headings", $font-family-sans-serif) !default;

$font-size-base: css-var("font-size-base", 11pt) !default;
$font-weight-normal: css-var("font-weight-normal", 400) !default;
$font-weight-bold: css-var("font-weight-bold", 700) !default;
$line-height-base: css-var("line-height-base", 1.5) !default;
$font-size-sm: css-var("font-size-sm", 9.62pt) !default;
$font-size-lg: css-var("font-size-lg", 13.75pt) !default;

$font-weight-lighter: css-var("font-weight-lighter", lighter) !default;
$font-weight-light: css-var("font-weight-light", 300) !default;
$font-weight-normal: css-var("font-weight-normal", 400) !default;
$font-weight-bold: css-var("font-weight-bold", 700) !default;
$font-weight-bolder: css-var("font-weight-bolder", bolder) !default;

$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;

$h1-font-size: css-var("h1-font-size", 27.5pt) !default;
$h2-font-size: css-var("h2-font-size", 22pt) !default;
$h3-font-size: css-var("h3-font-size", 19.25pt) !default;
$h4-font-size: css-var("h4-font-size", 16.5pt) !default;
$h5-font-size: css-var("h5-font-size", 13.75pt) !default;
$h6-font-size: css-var("h6-font-size", 11pt) !default;

$headings-margin-bottom: math.div($spacer, 2) !default;
$headings-font-weight: css-var("headings-font-weight", 500) !default;
$headings-line-height: css-var("headings-line-height", 1.2) !default;

// Borders

// scss-docs-start border-variables

$border-width: 1px !default;
$border-style: solid !default;
$border-color: $gray-300 !default;

$border-radius: .375rem !default;
$border-radius-sm: .25rem !default;
$border-radius-lg: .5rem !default;
$border-radius-xl: 1rem !default;
$border-radius-xxl: 2rem !default;
$border-radius-pill: 50rem !default;

$box-shadow: 0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-sm: 0 .125rem .25rem rgba($black, .075) !default;
$box-shadow-lg: 0 1rem 3rem rgba($black, .175) !default;
$box-shadow-inset: inset 0 1px 2px rgba($black, .075) !default;

// Display headings
$display-font-sizes: (
    1: 5rem,
    2: 4.5rem,
    3: 4rem,
    4: 3.5rem
) !default;

$display-font-weight: 300 !default;
$display-line-height: 1.2 !default;

// Table
$table-cell-padding-y: css-var("table-cell-padding-y", 0.5rem) !default;
$table-cell-padding-x: css-var("table-cell-padding-x", 0.75rem) !default;
$table-border-width: css-var("table-border-width", $border-width) !default;
$table-border-color: css-var("table-border-color", $border-color) !default;
$table-border-style: css-var("table-border-style", $border-style) !default;
$table-striped-bg: css-var("table-striped-bg", rgba($gray-200, 0.5)) !default;
$table-caption-color: css-var("table-caption-color", $gray-600) !default;
$table-caption-spacing: css-var("table-caption-spacing", 0.75rem) !default;
$table-font-size: css-var("table-font-size", $font-size-base) !default;

